@import "partials/_cards.scss";
@import "partials/_buttons.scss";
@import "partials/_mixin.scss";


header{
    h1{
        color: $primary-color;
        
    }
    ul{
      color: $secondary-color;
      li{
        color: $secondary-color;
      }
    }
    section{
      color: $secondary-color;
    }
}

.class-parrafo {
  text-align: center;
  padding: auto;
  color : principalcolor;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  margin: 30px;
}

.logo-principal {
  text-align: center;
  padding: auto;
  color :red;
  display: flex;
}

.image-container {
  text-align: center; /* Alinea el contenido al centro horizontalmente */
  margin-top: 20px; /* Agrega un margen superior */
}
.titulo {
    @include fuente_titulos(50px, 'Arial, sans-serif', 'bold', hwb(231 22% 31%), left,20px);
  }
  
.caja-flex {
    @include flex(flex, space-between, center, 20px);
    transition: 1s;
    &:hover{
        transform: scale(1.2);
    }
}



.imagen-animada {
    width: 100%;
    max-width: 500px; // Establece el ancho máximo deseado
    margin:10% 25%; // Centra la imagen horizontalmente
    transition: transform 0.5s ease; // Transición en la propiedad 'transform'
  }
  
  .imagen-animada:hover {
    transform: scale(1.1); // Escala la imagen al 110% en el hover
  }
  
  .container {
    text-align: right;
    margin-top: 5px;
  }

  .categorias {
  color: $primary-color;
  text-align: center;
  background-color: $secondary-color;
  border-radius: 5px;
  padding-top: 5px; /* ajusta el valor según el margen superior deseado */
  padding-bottom: 5px; /* ajusta el valor según el margen inferior deseado */
}

